:root {
--usf-green: #006747;
--dark-usf-green: #004a33;
--body-text-color: #424242;
--lighter-text-color: #a3a3a3;
--lightest-text-color: #e6e6e6;
}

.sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--usf-green);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
}

.sidenav a {
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav hr{
  width: 80%;
  border: 1px solid white;
}
.sidenav .active hr{
  border: 1px solid var(--usf-green) !important;
}

.sidelink-container{
  width: 100%;
  padding: 10px 0px 10px 0px;
  text-align: center;
}
.sidelink-container:hover{
  background-color: var(--dark-usf-green);
  transition: 0.4s;
}

.sidelink-container.active{
  background-color: white;
}
.sidelink-container.active a{
  color: var(--usf-green);
}

.sidelink-container .fas{
  font-size: 30px;
  display:block;
  margin: 0 auto;
}

.container{
  text-align: left;
  margin: 25px 50px 0px 150px;
}

.header-text{
  font-family: 'Bebas Neue', cursive;
  color: var(--body-text-color);
  font-size: 40px;
  margin-bottom: 0px;
  border-bottom: 2px solid grey;
}

.subtitle{
  font-size: 15px;
  text-decoration: none;
  margin: 2px 0px 2px 0px;
  color: var(--lighter-text-color);
}

.pw-panel {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0 36px 36px 0;
  width: 350px;
  height: 125px;
  box-sizing: border-box;
  border: 1px solid var(--lighter-text-color);
  border-radius: 4px;
}
.pw-panel:hover{
  cursor:pointer;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
  transition: 0.2s;
}

.panel-title{
  color: var(--body-text-color);
  margin: 0px;
  font-size: 20px;
}

.panel-links{
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0px 10px 10px 0px;
  color: var(--lightest-text-color);
  text-decoration: underline;
}
.panel-links i{
  float: left;
  padding-left: 10px;
  font-size: 20px;
}
.panel-links i:hover{
  cursor: pointer;
  color: var(--lighter-text-color);
  transition: 0.4s;
}

.panel-top{
  width: 100%;
  height: 60%;
  background-color: var(--usf-green);
}

.panel-right{
  float: left;
  margin: 20px 0px 0px 10px;
}

.date-field{
  text-align: center;
  float: left;
  display: inline-block;
  width: 30%;
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
  border-bottom: 2px solid black;
  margin: 20px 10px 0px 10px;
}

.day-counter{
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
}

.text-search{
  background-color: var(--lightest-text-color);
  color: var(--body-text-color);
  font-size: 20px;
  border: none;
  border-radius: 3px;
  width: 40%;
  height: 50px;
  margin: 20px;
  padding-left: 45px;
}

.text-search-small{
  background-color: var(--lightest-text-color);
  color: var(--body-text-color);
  font-size: 18px;
  border: none;
  border-radius: 3px;
  width: 100%;
  height: 35px;
  margin: 15px;
  padding: 5px;
}

.top-search i {
    position: absolute;
    font-size: 25px;
}

.top-search {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
  color: var(--lighter-text-color);
  padding-left: 20px;
  padding-top: 32px;
  min-width: 50px;
  text-align: center;
}

.generator-fields{
  width: 50%;
  margin:20px auto 0px auto;
}
#gen-result{
  text-align: center;
  margin: auto;
}

.generator-fields legend {
    background-color: var(--usf-green);
    color: white;
    padding: 3px 6px;
}
.generator-fields input{
  margin: 10px 5px;
}

.progress-meter {
  width: 98%;
	height: 20px;
	position: relative;
  border: 2px solid var(--lighter-text-color);
  background-color: var(--lightest-text-color);
	padding: 5px;
}
.progress-meter > span {
  display: block;
  height: 100%;
  background-color: #e4cd67;
  position: relative;
  overflow: hidden;
}

.center-wrapper{
  text-align: center;
}

.login-card {
  min-width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  border-radius: 2px;
  padding: 20px 20px 0px 20px;
}

.login-card input:not([type=checkbox]){
  margin-bottom: 10px;
  border: 1px solid grey;
  width: 100%;
  height: 42px;
  padding: 6px 6px 6px;
}

.login-card .header-text{
  margin-bottom: 10px;
}

.login-card label{
  font-family: 'Bebas Neue', cursive;
  color: var(--body-text-color);
  font-size: 20px;
}

.button{
  background-color: var(--usf-green);
  border: none;
  border-radius: 4px;
  padding: 10px;
  color: white;
  font-size: 15px;
}
.button i{
  position: inherit;
  font-size: inherit;
}

.login-button:hover, .button:hover{
  background-color: var(--dark-usf-green);
  transition: 0.4s;
}

.login-button{
  font-family: 'Bebas Neue', cursive;
  background-color: var(--usf-green);
  border: none;
  padding: 10px;
  color: white;
  font-size: 20px;
  margin: 0 auto;
  width: 100%;
}

.pw-forgot:hover {
  color: var(--body-text-color);
  transition: 0.2s;
}
